#BG-picture {

    background-image: url("/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg");
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;

}


.intro {

        text-align: center;
        font-family: Verdana;
        width: 1000px;
        margin: auto;

}



.secondary-img {

    margin: 0 auto;
    border: 3px solid red;
    width: 200px;
    height: 150px auto;

    
}
